@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "bokor", serif;
    --primary-color: #000000;
    /* black */
    --secondary-color: #cfcfcf;
    /* off-white */
    --tertiary-color: #3C3D37;
    /* dark gray */
    --hightlight-color: #697565;
    /* light gray */
}

/* Global Styles */

body {
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

p {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: white;
}


/* Navbar */

#navbar {
    background-color: var(--tertiary-color);
}

.navbar-brand,
.nav-link,
.navbar-nav {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-nav:hover {
    color: var(--secondary-color);
}

.navbar-brand {
    font-size: 3em;
}

.navbar button {
    color: var(--secondary-color);
    background-color: var(--secondary-color);
}

a.nav-link:hover {
    color: white;
}

a.navbar-brand:hover {
    color: white;
}

/* Hero Image */

#hero-image {
    position: relative;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#hero-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#hero-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
}

/* About */

#about {
    padding-bottom: 3%;
}

/* Menu & Book Images */

#menu-image,
#book-image {
    position: relative;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#menu-image img,
#book-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#menu-image h1,
#book-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
    padding: 0 2rem;
}

/* Menu */

#menu {
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Gallery */

#gallery {
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
}

#gallery img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Booking Form */

#booking-form {
    padding-top: 3%;
    padding-bottom: 3%;
}

#booking-form button {
    padding: .5rem .75rem;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

.form-label {
    color: var(--secondary-color)
}

/* Booking Request Received */

#booking-request {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem 1rem;
    width: 30%;
    background-color: var(--tertiary-color);
}

#request-image {
    position: relative;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#request-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#request-image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
    padding: 0 1rem; }

/* Footer */

#footer {
    background-color: var(--tertiary-color);
    font-family: var(--primary-font);
    color: var(--secondary-color);
    padding-top: 1%;
    padding-bottom: 1%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

#social-links {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

@media only screen and (min-width: 800px) {
    .flex-container {
        flex-direction: row;
    }

    .box {
        width: 33%;
    }

    #contact {
        display: flex;
        align-items: start;
        text-align: left;
    }

    #social-links {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }

    #opening-times {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: stretch;
        justify-content: center;
        text-align: right;
    }
}
}