@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "bokor", serif;
    --primary-color: #000000;
    /* black */
    --secondary-color: #cfcfcf;
    /* off-white */
    --tertiary-color: #3C3D37;
    /* dark gray */
    --hightlight-color: #697565;
    /* light gray */
}

/* Global Styles */

body {
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

p {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

#navbar .logo {
    width: 30px;
}

/* Hero Image */



/* About Section */



/* Carousel */



/* Menu Image */



/* Book Image */





/* Footer */

#contact {
    background-color: var(--tertiary-color);
    font-family: var(--primary-font);
}

#contact p {
    font-family: var(--primary-font);
}

.address {
    color: var(--secondary-color);
}

.table {
    background-color: transparent;
}